<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

        @Html.ActionLink("QuizR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    @Html.ActionLink("Strona główna", "Index", "Home", routeValues: null, new
                    {
                   @class = (ViewContext.RouteData.Values["action"].ToString() == "Index"
                   && ViewContext.RouteData.Values["controller"].ToString() == "Home") ? "nav-link active" : "nav-link"
                    })
                </li>
                
                <li class="nav-item">
                    @Html.ActionLink("Lista pokoi", "Index", "Room", routeValues: null, new {
                   @class = (ViewContext.RouteData.Values["action"].ToString() == "Index"
                   && ViewContext.RouteData.Values["controller"].ToString() == "Room") ? "nav-link active" : "nav-link"
               })
                </li>
                <!--
                <li class="nav-item">
                    @Html.ActionLink("Kontakt", "Contact", "Home", routeValues: null, new { @class = ViewContext.RouteData.Values["action"].ToString() == "Contact" ? "nav-link active" : "nav-link" })
                </li>
                -->

            </ul>
            

            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>