@using Microsoft.AspNet.Identity
@using QuizR.Models
@using System.Data.Entity
@model QuizR.Models.QuizRoom


@{
    ViewBag.Title = "Nowy pokój";
}

<h2>Tworzenie pokoju</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Podaj informacje</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Set, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SetID", new SelectList(ViewBag.MySets, "Id", "Name"), new { @class = "form-control form-control-lg" })                                                          @{/*TODO*/}
                @Html.ValidationMessageFor(model => model.Set, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Utwórz" class="btn btn-outline-success" />
                @Html.ActionLink("Powrót", "Index", routeValues: null, new { @class = "btn btn-outline-primary" })

            </div>
        </div>
    </div>
}